body {
    height: 100%;
    background-color: rgb(213, 234, 181);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(5, 51, 15);
}
.input_div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input_div .input {
    padding: 0.5rem 1rem;
    height: 30px;
    outline: none;
    border: none;
    background-color: white;
    width: 350px;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius: 25px;   
}

.addButton{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border:none;
    background-color: rgb(5, 51, 15);
    color: white;
    font-size: 1.5rem;
    margin: 0.25rem;
    cursor: pointer;
}

.addButton:hover{
    background-color: cornflowerblue;
}

.rootDis{

    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(5, 51, 15);
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    
}

p {
    float: left;
    margin-top: -20px;
}

.removeButton{
    float: right;
    background-color: rgb(255, 98, 30);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-top: -20px;
}


.removeButton:hover{
    color: rgba(255, 98, 30, 0.633);
    font-size: 1rem;
}

.editButton{
    float: right;
    background-color: rgb(53, 255, 30);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-right:20px;
    margin-top: -20px;
}


.editButton:hover{
    color: rgba(30, 255, 49, 0.633);
    font-size: 1rem;
}

.container{
    text-align: right;
}

.item{
    padding: 2rem;
    margin-bottom: 7px;
    border-bottom: 4px solid black;
}